/* styles/global.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Apply a global font style */
body {
  font-family: 'Arial', sans-serif;
}

/* Add spacing for content to prevent it from being hidden under the fixed header */
body {
  padding-top: 72px; /* Adjust the value based on your header height */
}

/* Apply some basic styling to the Navbar */
header {
  position: fixed;
  background-color: #FFD700; /* McDonald's yellow color */
  width: 100%;
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Style the links in the Navbar */
header a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

header a:hover {
  color: #000; /* Change color on hover */
}

.fast-food-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fast-food-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Style the SidePanel */
.side-panel {
  width: 25%; /* or w-1/4 for 25% */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

/* Adjust the transform based on the side panel state */
.transform.translate-x-0 {
  transform: translateX(0);
}

.transform {
  transform: translateX(-100%);
}

.footnote {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #555; /* Adjust the color as needed */
  font-size: 12px;
}